* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overscroll-behavior: none; /* https://css-irl.info/preventing-overscroll-bounce-with-css/ */
    font-size: 75%;
    font-family: sans-serif;
}

header {
    background-color: #120323;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 20%;
}

h1 {
    color: #97bf04;
    text-align: center;
}

main figure {
    margin: 0;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main figure img {
    border: 5px solid #d9043d;
}

aside {
    background-color: #97bf04;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #d9043d;
    color: #ffffff;
    text-align: center;
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    
    body {
        font-size: 100%;
    }

    header {
        flex-direction: row;
        gap: 1rem;
    }

    main figure {
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        padding: 2rem;
    }

    main figure img {
        max-width: 300px;
        height: auto;
    }

    figcaption h2 {
        margin-top: 0;
    }
}

@media screen and (min-width: 1000px) {
    #container {
        display: flex;
        flex-direction: row;
    }
    
    main {
        flex-basis: 75%;
    }

    aside {
        flex-basis: 25%;
        margin-top: 2rem;
    }
}